* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	padding: 20px;
	font-size: 22px;
	line-height: 1.4;
	text-align: center;
}

h2 {
	font-weight: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.comparison {
	margin-bottom: 30px;
}

.comparison-head {
	/* margin-bottom: 10px; */
}

.comparison-body {
	position: relative;
}

.example {
	border: 0;
}

.example.new {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #0C0;
}
